[submodule "rails-minor-mode"]
	path = rails-minor-mode
	url = git@github.com:v1nc3ntlaw/rails-minor-mode.git
[submodule "rhtml-minor-mode"]
	path = rhtml-minor-mode
	url = git@github.com:v1nc3ntlaw/rhtml-minor-mode.git
